<div class="row">
	<div class="col-xs-12">
		<label>Testo={{testo}}</label><br>
		<label>Server Name</label>
		<input type="text" class="form-control" [(ngModel)]="newServerName">
		<label>Server Content</label>
		<input type="text" class="form-control" [(ngModel)]="newServerContent">
		<br>
		<button [disabled]="newServerContent===''||newServerName===''" class="btn btn-primary col-xs-offset-0" (click)="onAddServer()">Add Server</button>
		<button [disabled]="newServerContent===''||newServerName===''" class="btn btn-primary col-xs-offset-1" (click)="onAddBlueprint()">Add Server Blueprint</button>
	</div>
</div>