<div class="row">
	<div class="col-xs-12">
		<p>Testo={{testo}}</p><br>
		<label>Server Name</label>
		<input type="text" class="form-control" [(ngModel)]="newServerName">
		<label>Server Content</label>
		<input type="text" class="form-control" [(ngModel)]="newServerContent">
		<br>
		<button [disabled]="newServerContent===''||newServerName===''" class="btn btn-primary col-xs-offset-0" (click)="onAdd(true)">{{modeEdit? "Edit as" :  "Add"}} {{newServerName}} Server</button>
		<button [disabled]="newServerContent===''||newServerName===''" class="btn btn-primary col-xs-offset-1" (click)="onAdd(false)">{{modeEdit? "Edit as" :  "Add"}} {{newServerName}} Server Blueprint</button>
	</div>
</div>